# Python
__pycache__/
*.pyc
*.pkl

# Virtual env
venv/
.venv/

# Node
node_modules/

# Environment
.env

# Secrets
*.json

# ML models
backend/app/ml_models/*.pkl

# Logs
*.log

# Chroma vector database
backend/app/rag/nalam_chroma_db/

backend/app/rag/nalam_chroma_db/
*.sqlite3
*.bin
*.pickle