fastapi
uvicorn
pymongo
pydantic
python-dotenv

google-cloud-documentai
google-generativeai

chromadb
sentence-transformers
python-multipart

pandas
openpyxl
numpy
joblib
lightgbm
scikit-learn


google-generativeai==0.7.2
Pillow==10.4.0

